/*GENERAL STYLES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Lato, sans-serif;
    line-height: 1.4;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
}
h3{
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: white;
}
p{
/*    margin: 0.75rem 0;*/
    font-size: .95rem;
}
textarea{
    resize: none;
}
li{
    margin: 0.5rem 0;
    list-style: none;
}

/*UTILITY CLASSES*/
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}
.py-0{
    padding: 0 1rem;
}
.py-1{ padding: 1.5rem 0}
.py-2{ padding: 2rem 0}
.py-3{ padding: 3rem 0}

.p-1{ padding: 1.5rem;}
.p-2{ padding: 2rem;}
.p-3{ padding: 3rem;}

.no-right-padding{
    padding-right: 0;
}

.margin-bottom-15{
    margin-bottom: 15px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-25{
    margin-bottom: 25px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.margin-bottom-70{
    margin-bottom: 70px;
}
.margin-bottom-100{
    margin-bottom: 100px;
}
.position{
    position: relative;
}

.bg-light{
    background: #F4F4F4;
    color: #333;
}
.bg-dark{
    background: #333;
    color: #fff;
}
.bg-primary{
    background: var(--primary-color);
    color: #FFF;
}
.text-primary{ color: var(--primary-color); }

.text-center{ text-align: center; }
.l-heading{
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 0.75rem;
}
.m-heading{
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 0.75rem;
}
.lead{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.btn{
    display: inline-block;
    text-transform: capitalize;
    color: #fff;
    background: #000;
    padding: 0.5rem 1rem;
    border: none; /*Used to remove border of button tag*/
}
.btn-dark{
    background: #333;
}
.btn:hover{
    background: #ccc;
    color: #000;
    transition: bacckground .3s;
    cursor: pointer;
}
.list{
    margin: 0.5rem 0;
    list-style: none;
}
.list li{
    padding: 0.5rem 0;
    border-bottom: dotted 1px #444;
}
.section{
    padding: 85px 0 110px;
}
.dark-section{
    background: #000;
}
.paragraph{
    line-height: 1.5;
    text-align: justify;
}
.section-title{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
}
.dark-section .section-title{
    color: #FFF;
}
.section .lead{
    font-weight: 400;
    text-align: center;
    color: #999;
    font-style:  italic;
}
.container{
    width: 770px;
    margin: 0 auto;
}
#band-section .col-33{
    padding: 0 50px;
}


/*NAVBAR*/

#navbar{
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 2.9rem;
}
#navbar ul li{
    color: #000; 
    padding: 0.794rem 1.4rem;
    font-size: .95rem;
}
#navbar ul li:hover{
    background: #ccc;
    transition: background .3s;
}
.menu-item{
    display: inline-block;
    text-transform: uppercase;
    margin: 0; 
}
.menu-item a:link,
.menu-item a:visited{
    color: #FFF;
    text-decoration: none;
}
.menu-item:hover{
    background: #CCC;
    color: #000;
    cursor: pointer;
}
.menu-item:hover a{
    color: #000;
}
.search{
    padding: 0.75rem 1.5rem;
    line-height: 1.5rem;
}
.menu-item.menu-red:hover{
    background: #F44336;
    color: #FFF;
}
.sub-menu{
    position: absolute;
    left: 0;
    top: 2.9rem;
    width: 160px;
    background: #FFF;
    box-shadow: 3px 4px 10px 0 rgba(0,0,0,0.2), -3px 4px 10px 0 rgba(0,0,0,0.2);
    display: none;
}
#navbar ul.sub-menu li{
    padding: .6rem 1.2rem;
}
.sub-menu .menu-item{
    display: block;
    text-transform: capitalize;
}
.menu-item:hover .sub-menu{
    display: block;
}

.fa-caret-down:before{
    content: "\f0d7";
}


/*SLIDER*/

.slider-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 45%;
    color: white;    
}
.slider-text{
    font-weight: 600;
    letter-spacing: .04rem;
}
.slider-text p{
    margin-top: 0.75rem;
}

/*BAND*/
.columns{
    display: flex;
    justify-content: center
}
.col-1-image{
    width: 9.625rem;
}

/*TOUR*/
.w-100{
    width: 15.34rem;
}
.col{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.event-list{
    background: #FFF;
    border: solid 1px #CCC;
}
.event-item{
    border-bottom: solid 1px #CCC;
    font-size: 15px;
    color: #757575;
    list-style-type: none;
    padding: 0.5rem 1rem;
    margin: 0;
}
.last-event-item{
    border-bottom: none;
}
.tag-sold-out{
    font-size: 15px;
    margin-left: 1.4rem;
    background: #F44336;
    color: #FFF;
    padding: .2rem .6rem;
    text-transform: capitalize;
}
.badge{
    display: inline-block;
    background: #000;
    color: #FFF;
    padding: 0.1rem 0.5rem;
    border-radius: 100%;
    margin-right: 10px;
}
.portfolio{
    position: relative;
}
.portfolio:hover .overlay{
    display: block;
}
.overlay{
    position: absolute;
    height: 97%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}
.event-details{
    padding: 0 1.5rem 0 1rem;
}
.event-details h4{
    font-weight: 600;
    margin: 1rem 0;
}
.event-details p{
    margin-bottom: 1rem; 
}
.event-details p time{
    color: #a1a1a1;
}
.event-card{
    width: 15.3125rem;
    background: #FFF;
}

.event-card .paragraph{
    font-size: 14px;
}

/*CONTACT*/

#contact {
    padding-bottom: 0;
}
.info-form{
    display: flex;
    justify-content: space-between;
}
.info p{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.info p span{
    width: 2rem;
    font-size: 1.1rem;
}

.form{
    display: flex;
    flex-direction: column;
}
.msg-box{
    width: 100%;
    box-sizing: border-box;
}
.field{
    font-size: .9rem;
    padding: 10px;
    border: 1px solid #ccc;
    height: 2.5rem;
}
.btm-margin-8{
    margin: 0 0 8px 0;
}
.btn-send{
    align-self: flex-end;
    padding: 10px 18px;
    margin-top: 16px;
    background: #000;
    color: white;
    border: none;
    cursor: pointer;
}
.btn-send:hover{
    background: #ccc;
    color: black;
}



/*FOOTER*/

.footer{
    background: #F6F6F6;
    color: #656565;
/*    display: flex;*/
/*    flex-direction: column;*/
    font-size: 24px;
    text-align: center;
    letter-spacing: .1rem;
    padding: 70px 0 70px 0;
}
.social{
/*    align-self:center;*/
}
.hover-effect:hover{
    color: #9F9F9F;
}
.small{
    font-size: 15px;
    color: #A1A1A1;
}
.footer-link{
    color: #A1A1A1;
    text-decoration: underline;
}




